<%= form_for @comment do |f| %>
  <%= f.hidden_field :parent_id %>
  <p>
    <%= f.label :content, "新回复" %><br />
    <%= f.text_area :content, :rows => 8 %>
  </p>
  <p><%= f.submit "发表" %></p>
<% end %>
